<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>

  <div class="products">
    <%# erb partial %>
    <%# class is Product -> for every product in the list it will render _product.html.erb that is located in the same folder %>
    <%= render @products %>
  </div>

</section>
